# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.env

# CaseWatch Local Data
logs/
backups/
data/config.json
data/reminders.json
*.xlsx
!data/test_data.xlsx

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# PyInstaller Build Artifacts
build/
dist/
